        html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #map {
        height: 100%;
        position: absolute;
        width: 100%;
    }

    .actions {
        background: #e1ffff;
        /* Old browsers */
        background: -moz-linear-gradient(left, #e1ffff 0%, #e1ffff 7%, #e1ffff 12%, #fdffff 12%, #e6f8fd 18%, #c8eefb 54%, #bee4f8 75%, #b1d8f5 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #e1ffff 0%, #e1ffff 7%, #e1ffff 12%, #fdffff 12%, #e6f8fd 18%, #c8eefb 54%, #bee4f8 75%, #b1d8f5 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #e1ffff 0%, #e1ffff 7%, #e1ffff 12%, #fdffff 12%, #e6f8fd 18%, #c8eefb 54%, #bee4f8 75%, #b1d8f5 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#b1d8f5', GradientType=1);
        /* IE6-9 */
        bottom: 150px;
        padding: 15px;
        position: fixed;
        right: 150px;
        z-index: 2;
        border-top: 1px solid #abbbcc;
        border-left: 1px solid #a7b6c7;
        border-bottom: 1px solid #a1afbf;
        border-right: 1px solid #a7b6c7;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
    }

    .actions label {
        display: block;
        margin: 2px 0 5px 10px;
        text-align: center;
    }

    .actions input, .actions select {
        width: 85%;
    }

    .button {
        background-color: #d7e5f5;
        border-top: 1px solid #abbbcc;
        border-left: 1px solid #a7b6c7;
        border-bottom: 1px solid #a1afbf;
        border-right: 1px solid #a7b6c7;
        border-radius: 5px;
        box-shadow: inset 0 1px 0 0 white;
        color: #1a3e66;
        font: normal 18px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
        line-height: 1;
        margin-bottom: 10px;
        padding: 7px 0 8px 0;
        text-align: center;
        text-shadow: 0 1px 1px #fff;
        width: 250px;
    }

    .button:hover {
        background-color: #B0C4DE;
        border-left: 1px solid #9caaba;
        border-bottom: 1px solid #96a3b3;
        border-right: 1px solid #9caaba;
        box-shadow: inset 0 1px 0 0 #f2f2f2;
        color: #163659;
        cursor: pointer;
    }

    .button:active {
        border: 1px solid #8c98a7;
        box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;
